# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\mhmds\OneDrive\Desktop\Data Science\Fourth year\76558 Algorithms in Computational Biology\ex1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
